---
title: Design Inspiration - Week 12
published: true
date: 2014-03-23 07:51
slug: /inspiration-2014-week-12
layout: blog-post
tags: [design,inspiration]
---


<div class="row">

	<div class="large-12 columns text-center">
	
			 <a href="https://www.behance.net/gallery/Unequivocal-Ambiguity/15108287"><img src="/assets/inspiration/sawdust-unequivocal.jpg" border="0" /></a>

			 <p class="inspiration">
			 	<a href="https://www.behance.net/gallery/Unequivocal-Ambiguity/15108287">Unequivocal Ambiguity</a>, a Behance Project by <a href="http://www.behance.net/sawdust">Sawdust</a>
			 </p>
	
	</div>

</div>
<div class="row">

	<div class="large-12 columns text-center">
	
			 <a href="https://www.behance.net/gallery/Sketchbook/14994393"><img src="/assets/inspiration/mike-sketchbook.png" border="0" /></a>

			 <p class="inspiration">
			 	<a href="https://www.behance.net/gallery/Sketchbook/14994393">Sketchbook</a>, a Behance Project by <a href="http://www.behance.net/creativemints">Mike (CreativeMints)</a>
			 </p>
	
	</div>

</div>
<div class="row">

	<div class="large-12 columns text-center">
	
			 <a href="https://www.behance.net/gallery/Porto-font-(free)/12114147"><img src="/assets/inspiration/uppertype-porto.png" border="0" /></a>

			 <p class="inspiration">
			 	<a href="https://www.behance.net/gallery/Porto-font-(free)/12114147">Porto</a>, a Behance Project by <a href="http://www.behance.net/UPPERTYPE">UPPERTYPE</a>
			 </p>
	
	</div>
	
</div>
