---
title: The Secret Handshake
published: true
date: 2013-04-03 00:00
slug: /the-secret-handshake
layout: blog-post
---

<p>A few weeks ago I found out about a site called &#8216;The Secret Handshake&#8217;. It&#8217;s a site with advice from a lot of my favorite designers, on topics like creating your Resume, the Application Process and tips on what makes a great Portfolio. I find myself visiting it at least once a week, clicking random photos to learn and be inspired.</p>

<p>Check it out at <a href="http://www.learnthesecrethandshake.com">www.learnthesecrethandshake.com</a>.</p>
