---
title: The Secret Handshake
published: true
date: 2014-02-11 00:00
slug: /the-secret-handshake
layout: blog-post
tags: [advice,resume,portfolio,application process]
---


<p>A few weeks ago I stumbled upon a site called &#8216;The Secret Handshake&#8217;. It&#8217;s a site with advice from a lot of my favorite designers, on topics like creating your Resume, the Application Process and tips on what makes a great Portfolio. I find myself visiting it at least once a week, clicking random photos to learn and be inspired.</p>

<div class="row">

	<div class="large-12 columns text-center">
	
			 <a href="http://www.learnthesecrethandshake.com"><img src="/assets/img/blog/secret-handshake.png" border="0" /></a>
	
	</div>
	
</div>

<p>More at <a href="http://www.learnthesecrethandshake.com">www.learnthesecrethandshake.com</a></p>
