
		{% capture pageTitle %}{% block title %}{% endblock %}{% endcapture %}

		{% include "header" with pageTitle %}
		
		<div id="main-content">
			{% block content %}{% endblock %}
		</div>

		{% include "footer" %}