

	{% capture pageTitle %}{{ model.title | escape}}{{global.pageTitleSeperator}}{{ global.defaultPageTitle | escape}}{% endcapture %}

	{% capture isProject %}true{% endcapture %}

	{% include "header" with pageTitle and isProject %}

	<a href="#" class="navigate-down"><span>Navigate down</span></a>

	<div id="main-content" class="project-full">

		<div class="row">
			<div class="large-12 columns">
				<h1 class="project-name">{{ model.title }}</h1>
			</div>
		</div>

		{% block content %}{% endblock %}

	</div>

	<div class="row">
		<div class="large-12 columns">

			<p class="text-center back">
				<a href="/#projects">&#139; All projects</a>
			</p>


		</div>
	</div>


	{% include "footer" %}

	{% block scripts %}
  	<script>

	$(function() {

		setTimeout(function() {
			$("#project-header").addClass("visible");
		}, 0);

		setTimeout(function() {
			$(".project-full").addClass("visible");
		}, 300);

	});

	</script>
	{% endblock %}
	