// Make sure the charset is set appropriately
@charset "UTF-8"; 

// Global Foundation Settings
@import "foundation/settings";

// You can import only specific elements by adjusting the import below
//@import "foundation";
@import "foundation/components/Global";
@import "foundation/components/Grid";
@import "foundation/components/Forms";
@import "foundation/components/Type";
@import "foundation/components/Sub-Nav";

$bg-color: #f9f8f3;
$bg-img: url(../img/old_moon.png);

$primary-link-color: #ea5957;
$primary-link-hover-color: #1a1e1f;
$primary-link-nav-active-color: #222;

$fitness-tracker-color: #47c05e;
$dragshare-color: #47c05e;
$flitsmeister-color: #1a75b6;

$dark-text-color: #1a1e1f;
$light-text-color: #999;

$primary-color: #1effbe;


@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	transition: $transition;
}

// User styles

html, body {
    height:100%;
    min-height:100%;
}

html { 
	-ms-word-break: break-all; 
	word-break: break-all; 
	word-break: break-word; /* old webkit */ 
}

body {
	color: #333;
	-webkit-font-smoothing: antialiased;

	background-color: $bg-color;
	background-image: $bg-img;
}

body.scrolldisabled, html.scrolldisabled { overflow-x: hidden; overflow-y: hidden; }

h1,h2,h3,h4,h5,h6 {
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
}

h2 {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	color: $dark-text-color;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;

	text-transform: uppercase;
}

h3 {
	padding-top: 25px;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 900;
	text-transform: uppercase;
}

img {
    max-width: 100%;
}

[data-2x] {
    background-size: cover;
}

.row {
	max-width: 760px;
}

p, ul {
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	line-height: 1.6em;
}

blockquote {
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1.6em;
	color: #999;
}

ul {
	list-style-type: circle;
	margin-left: 35px;
}


@media only screen and (max-width: 40em) { 

	p, ul {
		font-size: 1.2em;
	}

}

a {
	color: $primary-link-color;
}

a:hover {
	color: $primary-link-hover-color;
}

.fitness-tracker a {
	color: $fitness-tracker-color;
}

.fitness-tracker a:hover {
	color: $dark-text-color;
}

.dragshare a {
	color: $dragshare-color;
}

.dragshare a:hover {
	color: $dark-text-color;
}


.flitsmeister a {
	color: $flitsmeister-color;
}

.flitsmeister a:hover {
	color: $dark-text-color;
}


#top {
	padding-top: 100px;
	padding-bottom: 75px;
}

#top-container {
	background-image: url(../img/line.png);
	background-repeat: no-repeat;
	background-position: top center;
	z-index: 300;
}

#logo {
	border: 3px solid $dark-text-color;
	color: $dark-text-color;

	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 3em;

	width: 4em;
	padding: 22px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	z-index: 300;
}

#nav {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.0em;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 25px;
	z-index: 300;
}

#nav a {
	color: $primary-link-color;
	margin-left: 10px;
	margin-right: 10px;
}

#nav a:hover {
	color: $primary-link-hover-color;
}

#nav a.active {
	color: $primary-link-nav-active-color;
}

#nav2 a {
	color: #282828;
}

#intro {
	vertical-align: center;
	background-color: $dark-text-color;
	background-image: url(../img/intro-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	padding: 50px;
	padding-bottom: 35px;
	text-align: center;
	position: relative;
	margin-bottom: 65px;
}

#intro h1 {
	color: White;
	font-size: 1.8em;
}

#intro h1 span {
	font-style: italic;
}

#intro-dot {
	display: inline-block;
	position: absolute;
	top: 30px;
	left: 50%;
	width: 16px;
	height: 4px;
	margin-left: -8px;
	background-color: $primary-color;
}

a.view-my-work {
	display: inline-block;
	position: relative;
	margin-top: 20px;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-transform: uppercase;

	border: 1px solid #5f6263;
	color: White;

	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.05em;
	letter-spacing: 0.2em;

	-webkit-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	-moz-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
}

a.view-my-work:hover {
	color: $primary-color;
	border-color: $primary-color;

}

#view-my-work:hover {
	
}

.main-content-intro {
	margin-bottom: 65px;
}

#main-content {
	display: block;
	padding-top: 75px;
}

#main-content.no-top {
	padding-top: 0 !important;
}

#main-content .row {
	margin-bottom: 50px;
}

@media only screen and (max-width: 40em) { 

	#top {
		padding-top: 25px;
		padding-bottom: 0px;
	}

	#logo {
		font-size: 2em;

		width: 4em;
		padding: 22px;

	}

	#intro-dot {
		top: 25px;
	}

	#intro {
		padding: 1.0em;
		padding-top: 40px;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}

	#intro h1 {
		font-size: 1.2em;
	}

	#main-content {
		padding-top: 0px;
	}

	#main-content .row {
		margin-bottom: 25px;
	}

	a.view-my-work {
		margin-top: 15px;
		font-size: 1.0em;
	}
}

#intro .row {
	margin-bottom: 0;
}

.quote {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 0;
}

a.cta {
	background-color: $primary-link-color;
	padding: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	color: White;
	border-radius: 4px;

	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.0em;

	margin-bottom: 75px;
	display: inline-block;
	position: relative;
}

a.cta:hover {
	background-color: $primary-link-hover-color;
	
}

.fitness-tracker a.cta {
	background-color: $fitness-tracker-color;
}

.fitness-tracker a.cta:hover {
	color: White;
	background-color: $primary-link-hover-color;
}

.dragshare a.cta {
	background-color: $dragshare-color;
}

.dragshare a.cta:hover {
	color: White;
	background-color: $primary-link-hover-color;
}

.flitsmeister a.cta {
	background-color: $flitsmeister-color;
}

.flitsmeister a.cta:hover {
	color: White;
	background-color: $primary-link-hover-color;
}

/* Projects */

#work {
	margin-bottom: 50px;
}

#work .row {
	margin-bottom: 0 !important;
}

.project-image {
	border: 1px solid #ddd;
	background-color: White;
	float: left;
	margin: 5px;
	padding: 6px;
}

.project img {
	-webkit-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	-moz-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);

	display: block;
	opacity: 1.0;
	-webkit-filter: none;
}

.project img:hover { 
	opacity: 0.9;

	-webkit-filter: #{"grayscale(100%)"};
}

/* no grayscale on smaller devices */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	
	.project {
		-webkit-filter: none;
	}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	
	.project {
		-webkit-filter: none;
	}

}

.project-title {
	background-color: #111;
	color: White;

	height: 2.5em;
	line-height: 2.5em;
	padding: 8px;
	padding-left: 15px;
	padding-right: 15px;

	margin-left: auto;
	margin-right: auto;

	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 2.5em;

	position: relative;
	top: -8.5em;

	text-transform: uppercase;

	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	-moz-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
}

.project:hover .project-title {
	opacity: 1;
}

.more-work {
	margin-top: 50px !important;
	margin-bottom: 75px !important;
}

.more-work p {
	text-align: center;
	font-style: italic;
	font-size: 1.2em;
	color: $light-text-color;
}

/* Projects - Full */

.project-container {

	background-repeat: no-repeat;
	background-position: top right;
}

.project-container.dragshare {
	background-image: url(../projects/dragshare-bg.png);
}

.project-container.alarmik {
	background-color: #fa7165;
	background-image: url(../projects/alarmik-bg.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.project-container.fitness-tracker {
	background-color: #222;
}

.project-container.alarmik h1.project-name {
	color: White !important;
}

#alarmik-bottom {
	background-color: White;
	padding-top: 75px;
}

#alarmik-bottom .row {
	margin-bottom: 0 !important;
	padding-bottom: 50px;
}

#fitness-tracker-bottom {
	background-color: White;
	padding-top: 75px;
}

#fitness-tracker-bottom .row {
	margin-bottom: 0 !important;
	padding-bottom: 50px;
}
.bottom-light {
	background-color: White;
}

.project-full {
	@include transition(all 1.2s);
	opacity: 0;
}

.project-full.visible {
	opacity: 1.0;
}

a.close-big {
	background-image: url(../img/close.png);
	background-repeat: no-repeat;
	background-position: top left;
	z-index: 300;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 50px;
	height: 50px;

	-webkit-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	-moz-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
}

a.close-big:hover {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

a.close-big span {
	visibility: hidden;
}

.navigate-down-bg {
	position: fixed;
	width: 100%;
	height: 162px;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(../img/bottom-fade.png);
	background-repeat: repeat-x;
	background-position: top left;
	z-index: 99999;

	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.navigate-down-bg.hidden {
	opacity: 0;
}

a.navigate-down {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image:url(../img/navigate-down2.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: fixed;
	left: 50%;
	margin-left: -25px;
	bottom: 10px;
	z-index: 9999999;

	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

a.navigate-down:hover {
	opacity: 0.8;
}

a.navigate-down.hidden {
	opacity: 0;
}

a.navigate-down span {
	visibility: hidden;
}

#logo-small {
	border: 2px solid $dark-text-color;
	color: $dark-text-color;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 1em;
	width: 4em;
	text-align: center;
	z-index: 9999999;

	position: fixed;
	display: inline-block;
	top: 20px;
	left: 20px;
	height: 40px;
	line-height: 40px;

	-webkit-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	-moz-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);

	opacity: 1.0;
}

#logo-small:hover {
	opacity: 0.8;
}

#project-nav {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 0.8em;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 25px;
	z-index: 300;

	display: inline-block;
	position: fixed;
	height: 40px;
	line-height: 40px;
	top: -5px;
	left: 100px;
}

#project-nav a {
	color: $dark-text-color;
	margin-left: 10px;
	margin-right: 10px;
}

#project-nav a:hover {
	color: $primary-link-hover-color;
}

#project-nav a.active {
	color: $primary-link-nav-active-color;
}

.top-light #logo-small {
	color: White;
	border-color: White;
}

.top-light #project-nav a {
	color: White;
}

.top-light #project-nav a:hover {
	color: White;
	opacity: 0.8;
}

.top-light a.close-big {
	background-image: url(../img/close-light.png);
}

@media only screen and (max-width: 40em) { 

	#logo-small {
		top: 20px;
	}

	#project-nav {
		display: none;
	}
}

h1.project-name {
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 6.0em;
	letter-spacing: 0.1em;
	color: #ccc;
	letter-spacing: -0.05em;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;

}

dl.project-details {
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.0em;
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}

dl.project-details dt {
	text-transform: uppercase;
	color: $light-text-color;
	font-size: 0.8em;
}

dl.project-details dd {
	color: $dark-text-color;
	margin-bottom: 35px;
	font-size: 1.2em;
	display: block;
}

.project-full h2 {
	text-align: center;
}

















/* Portfolio */

@media only screen and (max-width: 320px) { 

	.project-full h1 {
		font-size: 3em;
	}
}

.full-bleed img {
	width: 100%;
}

.maxwidth {
	width: 100%;
	text-align: center;
	display: block;
}

.maxwidth img {
	margin-left: auto;
	margin-right: auto;	
}

.realpx-iphone {
	max-width: 1100px;
	display: inline-block;
	position: relative;
	margin-left: auto;
	margin-right: auto;	
}

@media
only screen and (min-width: 320px) { 

	.maxwidth img {
		max-width: 100%;
	}

	.realpx-iphone {
		max-width: 300px;
	}
}

@media
only screen and (min-width: 700px) { 

	.maxwidth img {
		max-width: 100%;
	}

	.realpx-iphone {
		max-width: 550px;
	}
}

@media
only screen and (min-width: 1100px) { 

	.maxwidth img {
		max-width: 1100px;
	}

}











/* About */

.about-photo {
	margin-bottom: 35px;
}

.book {
	font-size: 1.0em;
	margin-top: 50px;
	margin-bottom: 75px;
	display: block;
}

.book img {
	margin-bottom: 15px;
}

/* Blog */

.blog-post {
	margin-bottom: 100px;
}

.blog-post h2 {
	text-align: center;
	border: none;
	
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 3.0em;
	text-transform: none;
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
	letter-spacing: -1px;
}

.blog-post h2 a {
	color: $primary-link-color;
}

.blog-post h2 a:hover {
	color: $primary-link-hover-color;
}

.blog-post .date {
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.2em;
	color: #999;
	text-align: center;

	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.social {
	margin-top: 50px;
}

@media only screen and (max-width: 40em) { 

	.blog-post h2 {
		font-size: 1.6em;
	}
}

p.back {
	margin-bottom: 100px;
}

p.project-back {
	margin-top: 75px;
	margin-bottom: 75px;
}

.next-prev {
	margin-bottom: 75px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.next-prev .columns {
}

.next-prev .columns.prev {
}

.next-prev .columns.next {
}

.next-prev h4 {
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.0em;
	color: #aaa;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 0px;
}

.next-prev p {
	margin-bottom: 10px;
}

/* Footer */

footer {
	padding-top: 50px;
	min-height: 300px;
	color: #666;
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.0em;

	background: no-repeat center center;
	background-image: url(../img/footer.png);
    background-size: cover;
	background-color: #111;
}

footer p, footer ul {
	font-size: 1.0em;
	line-height: 1.6em;
}

footer p {
	padding: 0;
	margin: 0;
	margin-bottom: 0.5em;
}

footer ul {
	margin-left: 25px;
}

footer a {
	color: #ccc;
}

footer a:hover {
	color: #eee;
}

footer .top-link {
	padding: 50px;
	font-size: 1.0em;
	color: #444;
	border-top: 1px dotted #333;


	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
	font-size: 2em;
}

footer .copyright {
	color: #444;
	font-size: 0.8em;
}

footer .columns {
	padding-bottom: 100px;
}

@media only screen and (max-width: 40em) { 

	footer .top-link {
		
		padding: 0;
		padding-top: 25px;
		font-size: 1.8em;

	}

	footer p, footer ul {
		text-align: center;
		font-size: 1.4em;
	}

	footer ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}




/* Work Footer */

#work-footer {
	position: fixed;
	width: 100%;
	height: 4.0em;
	background-color: #000;
	border-top: 1px solid #222;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 9999;
}

#work-footer .tw {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 26px;
	margin-top: 18px;
	background-image: url(../img/footer-twitter.png);
	background-repeat: no-repeat;
	opacity: 1.0;

	margin-left: auto;
	margin-right: auto;
	left: -12px;

	-webkit-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	-moz-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
}


#work-footer .tw:hover {
	opacity: 0.8;
}

#work-footer .tw span {
	visibility: hidden;
}

#work-footer .nxtprv {
	border: 2px solid White;
	color: White;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 0.8em;
	text-align: center;

	position: relative;
	display: inline-block;

	padding-left: 0.5em;
	padding-right: 0.5em;
	height: 2.4em;
	line-height: 2.2em;
	text-transform: uppercase;
	margin-top: 1.2em; 
	margin-left: 1em;
	margin-right: 1em;

	-webkit-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	-moz-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
}

#work-footer .nxtprv:hover {
	opacity: 0.8;
}

#work-footer .nxtprv.disabled {
	opacity: 0.2;
}

#work-footer .nxt {
	float: right;
}
#work-footer .prv {
	float: left;
}

@media only screen and (max-width: 40em) { 

	#work-footer .tw {
		display: none;
	}
}

/* Dribbble */

.shots {
	list-style: none;
	margin: 0;
	padding: 0;
}

.shots li {
	border: 1px solid #ddd;
	background-color: White;
	float: left;
	margin: 5px;
	position: relative;
}

.shots li .shot-info {

	display: inline-block;
	position: absolute;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 50px;
	-moz-background-clip: padding;
	border-radius: 50px;
	background-clip: padding-box;
	top: 22%;
	left: 50%;
	margin-left: -50px;
	font-size: 15px;
	background-color: #fff;
	color: #111;
	line-height: 100px;
	text-align: center;
	opacity: 0;

	-webkit-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	-moz-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
}

.shot-container {
	background-color: black;
	margin: 6px;
}

.shot {
	max-width: 216px;	

	-webkit-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	-moz-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
}

.shots li a {
}

.shots li a img {
	opacity: 1.0;
}

.shots li a:hover img {
	opacity: 0.8;
}

.shots li a:hover .shot-info {
	opacity: 1.0;
}

/* Spinner - Spinkit -  */

#loader {
	z-index: 99999999;
	position: absolute;
	background-color: White;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	-webkit-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	-moz-transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
	transition: all 0.6s cubic-bezier(0.16, 0.83, 0.21, 1);
}

#loader.hidden {
	opacity: 0;
	z-index: -0.0000001;
}

.spinner {
	margin: 300px auto;
	width: 32px;
	height: 32px;
	position: relative;
}

@media only screen and (max-width: 40em) { 

	.spinner {
		margin: 200px auto;
	}

}

.cube1, .cube2 {
	background-color: #333;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: cubemove 1.8s infinite ease-in-out;
	animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
	25% { -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
	25% { 
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% {
		/* Hack to make FF rotate in the right direction */
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	} 50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 100% {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}