
		<footer>
			<div class="row">
		    	<div class="medium-4 columns">
					<p>Hello, my name is Rick Waalders. I am a designer and I write code. <a href="/about">More...</a></p>
					<p>Feel free to send me an <a href="mailto:rwaalders@gmail.com">email</a>.</p>
				</div>
		    	<div class="medium-4 columns">
					
					<p>You can find me on:</p>
					<ul>
				        <li><a href="http://dribbble.com/rickwaalders">Dribbble</a></li>
				        <li><a href="http://twitter.com/rickwaalders">Twitter</a></li>
				        <li><a href="http://instagram.com/rickwaalders">Instagram</a></li>
				    </ul>

				</div>
		    	<div class="medium-4 columns">
					<p>Built and designed by myself using <a href="http://mixture.io">Mixture</a> and <a href="http://typekit.com">Typekit</a>. Sources on <a href="https://github.com/rickwaalders/rwa.me">Github</a>.</p>
					<p>Follow me on <a href="http://twitter.com/rickwaalders">Twitter</a>.</p>
				</div>
			</div>


			<div class="row">
		    	<div class="large-12 columns text-center">

					<a href="#top" class="top-link">Back to top &#155;</a>
			
		    	</div>
		    </div>

			<div class="row">
		    	<div class="large-12 columns text-center copyright">
					© {{ 'now' | date: "%Y" }} Rick Waalders
		    	</div>
		    </div>



		</footer>
  		
  		{% include "scripts" %}
  		
  		{% include "work-scripts" %}

  		{% include "analytics" %}
		
	</body>
</html>