		<footer>
			<div class="row">
		    	<div class="large-4 columns">
					<p>Hello, my name is Rick Waalders. I am a designer and I write code. <a href="about">More...</a></p>
					<p>Feel free to send me an <a href="mailto:rwaalders@gmail.com">e-mail</a>.</p>
				</div>
		    	<div class="large-4 columns">
					
					<p>You can find me on:</p>
					<ul>
				        <li><a href="http://dribbble.com/rickwaalders">Dribbble</a></li>
				        <li><a href="http://twitter.com/rickwaalders">Twitter</a></li>
				        <li><a href="http://instagram.com/rickwaalders">Instagram</a></li>
				    </ul>

				</div>
		    	<div class="large-4 columns">
					<p>Built and designed by myself, using <a href="http://mixture.io">Mixture</a> and <a href="http://foundation.zurb.com">Foundation</a>. Sources on <a href="https://github.com/rickwaalders/rwa.me">Github</a>.</p>
					<p>Follow me on <a href="http://twitter.com/rickwaalders">Twitter</a>.</p>
				</div>
			</div>


			<div class="row">
		    	<div class="large-12 columns text-center">

					<a href="#top" class="top-link">Back to top &#155;</a>
			
		    	</div>
		    </div>

		</footer>
  		
  		{% include "scripts" %}

  		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-32009200-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
	</body>
</html>