<a href="/#work"{% if mixture.url == "index" %} class="active"{% endif %}>Work</a>
<a href="/blog/"{% if mixture.url == "blog" %} class="active"{% endif %}>Blog</a>
<a href="/about/"{% if mixture.url == "about" %} class="active"{% endif %}>About</a>