---
title: Wake up in style
published: true
date: 2013-04-03 00:00
slug: /alarmik
layout: work-item
client: Personal
role: Idea, Design, Development
type: iPhone App
bgPrefix: alarmik
topStyle: top-light
bottomStyle: bottom-light
---

    <div id="alarmik-top" class="text-center">

    	<div class="text-center">
        	<img src="../assets/projects/alarmik-realpixels.png" class="realpx-iphone"/>
        </div>
        <div class="clearfix">&nbsp;</div>

	    <span data-picture data-alt="Alarmik for iPhone" class="maxwidth">
	        <span data-src="../assets/projects/alarmik4-small.png"></span>
	        <span data-src="../assets/projects/alarmik4.png" data-media="(min-width: 480px)"></span>
	        <noscript>
	            <img src="../assets/projects/alarmik4.png" alt="Alarmik for iPhone">
	        </noscript>
	    </span>

	    <span data-picture data-alt="Alarmik for iPhone" class="maxwidth">
	        <span data-src="../assets/projects/alarmik5-small.png"></span>
	        <span data-src="../assets/projects/alarmik5.png" data-media="(min-width: 480px)"></span>
	        <noscript>
	            <img src="../assets/projects/alarmik5.png" alt="Alarmik for iPhone">
	        </noscript>
	    </span>

	    <span data-picture data-alt="Alarmik for iPhone" class="maxwidth">
	        <span data-src="../assets/projects/alarmik6-small.png"></span>
	        <span data-src="../assets/projects/alarmik6.png" data-media="(min-width: 480px)"></span>
	        <noscript>
	            <img src="../assets/projects/alarmik6.png" alt="Alarmik for iPhone">
	        </noscript>
	    </span>

	    <span data-picture data-alt="Alarmik for iPhone" class="maxwidth">
	        <span data-src="../assets/projects/alarmik7-small.png"></span>
	        <span data-src="../assets/projects/alarmik7.png" data-media="(min-width: 480px)"></span>
	        <noscript>
	            <img src="../assets/projects/alarmik7.png" alt="Alarmik for iPhone">
	        </noscript>
	    </span>

	    <span data-picture data-alt="Alarmik for iPhone" class="maxwidth">
	        <span data-src="../assets/projects/alarmik8-small.png"></span>
	        <span data-src="../assets/projects/alarmik8.png" data-media="(min-width: 480px)"></span>
	        <noscript>
	            <img src="../assets/projects/alarmik8.png" alt="Alarmik for iPhone">
	        </noscript>
	    </span>

	    <span data-picture data-alt="Alarmik for iPhone" class="maxwidth">
	        <span data-src="../assets/projects/alarmik3-small.png"></span>
	        <span data-src="../assets/projects/alarmik3.png" data-media="(min-width: 480px)"></span>
	        <noscript>
	            <img src="../assets/projects/alarmik3.png" alt="Alarmik for iPhone">
	        </noscript>
	    </span>

	    <span data-picture data-alt="Alarmik for iPhone" class="maxwidth">
	        <span data-src="../assets/projects/alarmik2-small.png"></span>
	        <span data-src="../assets/projects/alarmik2.png" data-media="(min-width: 480px)"></span>
	        <noscript>
	            <img src="../assets/projects/alarmik2.png" alt="Alarmik for iPhone">
	        </noscript>
	    </span>
      
    </div>

	<div id="alarmik-bottom">

		<div class="row">

			<div class="large-12 columns">

			    <h2>Project Info</h2>

				<dl class="project-details">
					<dt>Client</dt>
					<dd>{{model.client}}</dd>
					<dt>Responsible for</dt>
					<dd>{{model.role}}</dd>
					<dt>Type</dt>
					<dd>{{model.type}}</dd>
				</dl>

			</div>
			
		</div>

		<div class="row">

			<div class="large-12 columns">

			    <h2>Status</h2>

			    <p>
			      	Alarmik is a concept I've been exploring since January 2013. One of the reasons I've been holding off development for a while is that as of right now it's still not possible to set a real alarm in iOS7. You can only play a sound that ignores the 'silent switch' of the iPhone if your app is running in the background. I hope Apple will give us access to setting an actual alarm in the future so third party alarm clock apps don't need to give the user a big set of instructions to set an alarm that will actually wake them in the morning..
			    </p>
			</div>
			
		</div>

	</div>

