---
title: Dragshare for Dropbox
published: true
date: 2013-04-03 00:00
slug: /dragshare
layout: work-item
client: Personal
role: Idea, Design, Development
type: Mac OS X App
bgPrefix: dragshare
---
		
	<div class="row">

		<div class="large-12 columns text-center">
			<img src="../assets/projects/dragshare-logo.png" />
		</div>

	</div>

	<div class="row">

		<div class="large-12 columns">

			<dl class="project-details">
				<dt>Client</dt>
				<dd>{{model.client}}</dd>
				<dt>Responsible for</dt>
				<dd>{{model.role}}</dd>
				<dt>Type</dt>
				<dd>{{model.type}}</dd>
			</dl>

		</div>
		
	</div>

	<div class="row" id="project-details">

		<div class="large-12 columns text-center">
			<img src="../assets/projects/dragshare-onboarding.png" />
		</div>

	</div>

	<div class="row">

		<div class="large-12 columns">

		    <h2>Introduction</h2>

		    <p>
		      	Since Drew Houston first introduced his YC app: Dropbox - 'Throw away your USB drive' on <a href="https://news.ycombinator.com/item?id=8863">HN</a> in 2007, the way we sync and share files hasn't been the same. For those of you who are not yet familiar with the concept of Dropbox;
		    </p>

		      <blockquote class="quote">Dropbox is a home for all your photos, docs, videos, and files. Anything you add to Dropbox will automatically show up on all your computers, phones and even the Dropbox website — so you can access your stuff from anywhere.
		        <div class="author"><cite><a title="Dropbox - Tour" href="https://www.dropbox.com/tour/1">Dropbox - Tour</a></cite>
		        </div>
		      </blockquote>

		    <p>
		      	I use Dropbox every day. It's the place where I store all my photos and sync them to/from my iPhone automatically, it's the service I use to sync files with clients, co-workers and friends. It's fast, reliable and best of all: very easy to use.
		    </p>

		    <p>
		      	Files on Dropbox are private by default. As long as you don't give anyone access to your files or specific folders, no-one else can view or download them. 
		      	<br />
				One of the great features of Dropbox is being able to share a file or folder with a public url, like this. You can, for example, use this feature to share a photo or any other image on Twitter where people can view it (even if they don't have a Dropbox account), or you can use it to quickly share a folder with a client without having to give them special permissions to sync the folder in their own Dropbox.
			</p>


		</div>

	</div>

	<div class="row">

		<div class="large-12 columns">

		    <h2>The problem</h2>

		    <p>
		      	Sharing a file through Dropbox is easy, but it's not a one step process. Let's say you want to share a .png file of a design you made with your followers on Twitter. You have to go to your Dropbox folder in Finder, place the file you want to share somewhere in your Dropbox folder, right-click it, click 'Share Dropbox-link' and then you're able to share the link with others. If sharing files is something you do on a daily basis, this process can be a bit devious.
		    </p>

		    <p>
		      	Dropbox was not the only services that made file sharing possible. There were a couple of other services that focused on file sharing only. Those other services had apps that made sharing files more easy, but the downside was that if you already own a Dropbox account, you now had to pay again for that other service. This could be a waste of money for some people. 
		    </p>

		    <p>
		      	Another issue with services (other than Dropbox) is that your files are stored on their thirdparty server, which you might or might not trust. Dropbox on the other hand does everything they can possibly do to make sure your files are <a href="https://www.dropbox.com/help/27/en">safe</a>.
		    </p>

		</div>
		
	</div>

	<div class="row">

		<div class="large-12 columns">

		    <h2>The solution</h2>

		    <p>
		      	With all of the above in mind, I thought I'd save myself some time and money and create an app that had made sharing files through your existing Dropbox account really easy. 
				On a friday evening with a few beers and some music, Dragshare was born.
				The result was a menu bar item app for your Mac, that can be used to drag files too which automatically turn into a Dropbox-link. When you drag a file to the menu bar icon, it puts the file in your Dropbox, creates the Dropbox-link that you can share and copies it your clipboard, all in a single step. Just drag & drop. 
				No need to pay for another service. None of your files stored on a server that you do not trust. Just fast and easy file sharing.
		    </p>

		</div>
		
	</div>


    <div class="full-bleed">
      
        <div class="full-bleed-photo" style="background-image:url(../assets/projects/dragshare2.JPG);"></div>

    </div>


	<div class="row">

		<div class="large-12 columns">

		    <h2>Other features</h2>

		    <p>
		      	A lot of people have different use cases when they are sharing files. Some people share a single file, others want to share complete folders. Some people just want to copy/paste the Dropbox-link somewhere themselves, others want to post it on Twitter or Facebook as quickly as possible, or email the link to a co-worker. 
				Some people love the default landing page when sharing a file through Dropbox, other people want to completely customize it. All of this is possible with Dragshare. Check out the video if you'd like to see how it all works, or read the documentation of you have any questions regarding themes or other features.
		    </p>

		</div>
		
	</div>

	<div class="row">

		<div class="large-12 columns">

		    <h2>What others say</h2>

		    <p>
		      	Since it's launch in December, 2013, Dragshare has been getting a lot of positive reviews. A lot of people seem to have the same problem and are looking for a way to fix it. Dragshare makes sharing files really easy.
		    </p>

		</div>
		
	</div>

	<div class="row">

		<div class="large-12 columns text-center">
			<img src="../assets/projects/dragshare2.png" />
		</div>

	</div>

	<div class="row">

		<div class="large-12 columns">

		    <h2>Download</h2>

		    <p>
		      	Dragshare is available as a Mac app through the <a href="https://itunes.apple.com/us/app/dragshare/id707059884?ls=1&mt=12">Mac App Store</a>, for a price of $1.99  (or equivalent amount in other currencies).
				If you want to try it for free first, there's a free 15-day (fully functional) trial available on the <a href="http://dragshare.co">Dragshare website</a>.
		    </p>

		</div>
		
	</div>
