---
title: Fitness Tracker
published: true
date: 2013-04-03 00:00
slug: /fitness-tracker
layout: work-item
client: Personal
role: Idea, Design, Development
type: iPhone App
bgPrefix: fitness-tracker
topStyle: top-light
bottomStyle: bottom-light
hideTop: true
---

    <div class="full-bleed inline nomargin" id="project-details">
      
        <img src="../assets/projects/fitness1.png" class="inline-photo"/>
        <img src="../assets/projects/fitness2.png" class="inline-photo"/>
        <img src="../assets/projects/fitness3.png" class="inline-photo max"/>
        <img src="../assets/projects/fitness4.png" class="inline-photo max"/>
        <img src="../assets/projects/fitness5.png" class="inline-photo max"/>
        <img src="../assets/projects/fitness6.png" class="inline-photo max"/>

    </div>

	<div class="fitness-tracker-bottom">

		<div class="row">

			<div class="large-12 columns">

			    <h2>Project Info</h2>

				<dl class="project-details">
					<dt>Client</dt>
					<dd>{{model.client}}</dd>
					<dt>Responsible for</dt>
					<dd>{{model.role}}</dd>
					<dt>Type</dt>
					<dd>{{model.type}}</dd>
				</dl>

			</div>
			
		</div>

		<div class="row">

			<div class="large-12 columns">

			    <h2>Status</h2>

			    <p>
			      	This is on of the sideprojects I work on every once in a while. As of right now it's still in the concept stage with little development done. I haven't set a deadline yet. 
			    </p>
			</div>
			
		</div>

	</div>

