---
title: Flitsmeister
published: true
date: 2013-04-03 00:00
slug: /flitsmeister
layout: work-item
client: Personal
role: Idea, Design, Development
type: Startup
bgPrefix: flitsmeister
topStyle: top-light
hideTop: true
---



    <div class="text-center" style="background-color: #1a75b6;margin-bottom:75px;padding-top:75px;padding-bottom:75px;">
      
			<img src="../assets/projects/flitsmeister-screens.png" />

    </div>

    <div id="flitsmeister-top"> 


		<div class="row">

			<div class="large-12 columns text-center">
				
				<img src="../assets/projects/flitsmeister-icon.png" width="76" height="76" />

			</div>
			
		</div>

		<div class="row">

			<div class="large-12 columns">


			    <h2>What is Flitsmeister?</h2>

			    <p>
			      	Flitsmeister is a real-time traffic analysis app for The Netherlands, powered by its users. I founded Flitsmeister in 2009 together with Sjoerd Perfors and in 2012 we formed a company together with Jaco de Vries of Omnext.Since January 2014 we have over 500.000 active users and our Flitsmeister apps can be downloaded on all the major platforms. Flitsmeister is the most well-known name in traffic in The Netherlands right now. 
			    </p>
			</div>
			
		</div>



		<iframe style="margin-bottom: 50px;" width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/rickwaalders.h349m5jj/attribution.html'></iframe>



		<div class="row">

			<div class="large-12 columns">

			    <h2>How it started</h2>

			    <p>
			      	In 2009, my colleague Sjoerd Perfors and I were frustrated that there were no traffic apps for The Netherlands that showed where there were speedtraps, traffic jams and speed cameras. So we decided to build one ourselves. After 6 months of designing and developing after our day job and during the weekends, we where finished with our first version. We decided we wanted to release it to the public and submitted it to the App Store in the beginning of 2010. What happened next was something we would have never expected. People started downloading the app and a few years later we reached half a million active users.
			    </p>

			    <p>
			    	Together with Sjoerd Perfors, Jaco de Vries, Jorn de Vries, Ruben Meijering, Ruben Ernst and Nick Meessen we're working every day trying to improve our traffic service through our apps and website. We're working closely with some of the biggest companies in our country to make sure we keep improving our growth rate and reach as many people as we can.
			    </p>

			    <p>
			    	As a co-founder, not only have I been responsible for a lot of the design and development work, together with Sjoerd Perfors and Jaco de Vries I'm also responsible for making the bigger decisions through our management team.
			    </p>
			</div>
			
		</div>


    </div>





	<div id="flitsmeister-bottom">

		<div class="row">

			<div class="large-12 columns">

			    <h2>Project Info</h2>

				<dl class="project-details">
					<dt>Client</dt>
					<dd>{{model.client}}</dd>
					<dt>Responsible for</dt>
					<dd>{{model.role}}</dd>
					<dt>Type</dt>
					<dd>{{model.type}}</dd>
				</dl>

			</div>
			
		</div>

		<div class="row">

			<div class="large-12 columns">

			    <h2>Timeline</h2>

			    <p>
			    users, bnr, nieuwe versies, etc
			    </p>
			</div>
			
		</div>

		<div class="row">

			<div class="large-12 columns">

			    <h2>Press mentions</h2>

			    <p>
			    mostly dutch
			      	...
			    </p>
			</div>
			
		</div>

	</div>

