
{% block title %}{{ global.indexPageTitlePrefix | escape}}{{global.pageTitleSeperator}}{{ global.defaultPageTitle | escape}}{% endblock %}

{% block content %} 

  <div id="intro">
    <div id="intro-dot">&nbsp;</div>

    <div class="row">
        <div class="large-12 columns">

          <h1>Design is not only the way things look, it's also the way things work. I'm both <span>designer</span> and <span>developer</span>. Being part of the whole process is a lot of fun.</h1>

          <a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#work" class="view-my-work">view my work</a>
        </div>
    </div>

  </div>


  <div id="work">

    <div class="row">

      <div class="large-12 columns">

        <h2>Personal Projects</h2>
        <p>My name is Rick Waalders and I love building products that make peoples lives more enjoyable. Below you can find some of the projects I'm proud of the most. I've been working as a designer and a developer on all of them. </p>

      </div>

    </div>



    <div class="row">

      <div class="medium-12 columns text-center">

          <a href="work/flitsmeister" class="project">

            <div class="project-image">
              <img src="assets/projects/flitsmeister-intro.png" border="0" />
            </div>
              <span class="project-title">Flitsmeister</span>

          </a>

      </div>


    </div>




    <div class="row">

      <div class="medium-6 columns text-center">

          <a href="work/alarmik" class="project">

            <img src="assets/projects/alarmik-thumb-color.png" border="0" />
            <span class="project-title">Alarmik</span>

          </a>

      </div>

      <div class="medium-6 columns text-center">

          <a href="work/fitness-tracker" class="project">

            <img src="assets/projects/fitness-thumb-color.png" border="0" />
            <span class="project-title">Fitness tracker</span>

          </a>

      </div>

    </div>

    <div class="row">

      <div class="medium-6 columns text-center">

          <a href="work/dragshare" class="project">

            <img src="assets/projects/dragshare-thumb-color.png" border="0" />
            <span class="project-title">Dragshare</span>

          </a>

      </div>

      <div class="medium-6 columns text-center">


      </div>

    </div>


  </div>

  <div class="row main-content-intro" id="work">

    <div class="large-12 columns">

      <h2>Recent stuff on Dribbble</h2>

      <p>Dribbble is where I post shots of my work in progress. Below you can find the latest ones. </p>

      <div id="recent-shots">

      </div>

    </div>

  </div>

  <div class="row more-work">

    <div class="large-12 columns">

      <p>Check out more of my work on my <a href="http://dribbble.com/rickwaalders" target="_blank">Dribbble profile</a>.</p>

    </div>

  </div>


{% endblock %}