
{% block title %}{{ global.indexPageTitlePrefix | escape}}{{global.pageTitleSeperator}}{{ global.defaultPageTitle | escape}}{% endblock %}

{% block content %} 

  <div id="intro">
    <div id="intro-dot">&nbsp;</div>

    <div class="row">
        <div class="large-12 columns">

          <h1>Design is not only the way things look, it's also the way things work. I'm both <span>designer</span> and <span>developer</span>. Being part of the whole process is a lot of fun.</h1>
        </div>
    </div>

  </div>

  <div class="row main-content-intro">

    <div class="large-12 columns">

      <h2>Personal Projects</h2>
      <p>My name is Rick Waalders and I love building products that make peoples lives more enjoyable. Below you can find some of the projects I'm proud of the most. I've been working as a designer and a developer on all of them. </p>

    </div>

  </div>

  <div id="projects">

    <div class="row">

      <div class="medium-6 columns text-center">

          <a href="work/alarmik" class="project">
            <img src="assets/projects/alarmik-thumb-color.png" border="0" />

            <span class="project-title">Alarmik</span>
          </a>

      </div>

      <div class="medium-6 columns text-center">

          <a href="work/fitness" class="project">
            <img src="assets/projects/fitness-thumb-color.png" border="0" />

            <span class="project-title">Fitness tracker</span>
          </a>

      </div>

    </div>


  </div>

  <div class="row">

    <div class="large-12 columns">

      <p class="more-shots">Check out more of my work on my <a href="http://dribbble.com/rickwaalders" target="_blank">Dribbble profile</a>.</p>

    </div>

  </div>


{% endblock %}