
{% block title %}{{ global.indexPageTitlePrefix | escape}}{{global.pageTitleSeperator}}{{ global.defaultPageTitle | escape}}{% endblock %}

{% block content %} 

  <div id="intro">
    <div id="intro-dot">&nbsp;</div>

    <div class="row">
        <div class="large-12 columns">

          <h1>Design is not only the way things look, it's also the way things work. I'm both <span>designer</span> and <span>developer</span>. Being part of the whole process is a lot of fun.</h1>
        </div>
    </div>

  </div>

  <div class="row main-content-intro">

    <div class="large-12 columns">

      <h2>Personal Projects</h2>
      <p>I love building products that make my own life (and those of others) more enjoyable. Below you can find some of my personal passion projects I'm proud of the most. I've been working as a designer and a developer on all of them. </p>

    </div>

  </div>

  <div id="projects">

    <div class="row">

      <div class="large-6 columns text-center">

        <div class="project">

          <a href="work/alarmik"><img src="assets/projects/project-alarmik.png" border="0"  /></a>

          <div class="project-title">Alarm Clock App</div>
          <div class="project-type">(concept)</div>

        </div>

      </div>

      <div class="large-6 columns text-center">

        <div class="project">

          <a href="work/dragshare"><img src="assets/projects/project-dragshare.png" border="0"  /></a>

          <div class="project-title">Dragshare for Dropbox</div>
          <div class="project-type">(Mac app)</div>

        </div>

      </div>


    </div>

  </div>

  <div class="row">

    <div class="large-12 columns">

      <p class="more-shots">Check out more of my work on my <a href="http://dribbble.com/rickwaalders" target="_blank">Dribbble profile</a>.</p>

    </div>

  </div>


{% endblock %}