{% block title %}{{ global.indexPageTitlePrefix | escape}}{{ global.defaultPageTitle | escape}}{% endblock %}

{% block intro %}


  <div id="intro">
    <div id="intro-dot">&nbsp;</div>

    <div class="row">
        <div class="large-12 columns">

          <h1>I'm both <span>designer</span> and <span>developer</span>. This combination makes collaborating on big projects with others and building personal projects an extremely fun process.</h1>
        </div>
    </div>

  </div>

{% endblock %}


{% block content %} 


  <div class="row main-content-intro">

    <div class="large-12 columns">

      <h2>Personal passion Projects</h2>
      <p>I love building products that make my own life (and those of others) more enjoyable. Below you can find some of the projects I'm proud of the most. I've been working as a designer and a developer on all of them. </p>

    </div>

  </div>

  <div id="projects">

    <div class="project">
      
      <a href="#">
        <div class="project-bg" style="background-image:url(assets/projects/fitness-app-1.JPG);"></div>
        <div class="project-arrow">&nbsp;</div>
      </a>
    </div>

    <div class="project">
      
      <a href="#">
        <div class="project-bg" style="background-image:url(assets/projects/dragshare.jpg);"></div>
        <div class="project-arrow">&nbsp;</div>
      </a>
    </div>


    <div class="project">
      
      <a href="#">
        <div class="project-bg" style="background-image:url(assets/projects/dragshare2.JPG);"></div>
        <div class="project-arrow">&nbsp;</div>
      </a>
    </div>


    <div class="project">
      
      <a href="#">
        <div class="project-bg" style="background-image:url(assets/projects/alarmik.JPG);"></div>
        <div class="project-arrow">&nbsp;</div>
      </a>
    </div>

  </div>

  <div class="row">

    <div class="large-12 columns">

      <p class="more-shots">Check out more of my work on my <a href="http://dribbble.com/rickwaalders" target="_blank">Dribbble profile</a>.</p>

    </div>

  </div>


{% endblock %}