
{% block title %}{{ global.indexPageTitlePrefix | escape}}{{global.pageTitleSeperator}}{{ global.defaultPageTitle | escape}}{% endblock %}

{% block content %} 

  <div id="intro">
    <div id="intro-dot">&nbsp;</div>

    <div class="row">
        <div class="large-12 columns">

          <h1>Design is not only the way things look, it's also the way things work. I'm both <span>designer</span> and <span>developer</span>. Being part of the whole process is something I enjoy the most.</h1>

          <a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#work" class="view-my-work" id="btn-view-work">view my work</a>
        </div>
    </div>

  </div>


  <div id="work">

    <div class="row">

      <div class="large-12 columns">

        <h2>Personal Projects</h2>
        <p>My name is Rick Waalders and I love building products that make peoples lives more enjoyable. Below you can find some of the projects I'm proud of the most. I've been working as a designer and a developer on all of them. </p>

        <ul class="list work-list">
          <li><a href="/work/flitsmeister">Flitsmeister</a> <span>— co-founded startup, 500.000+ active users</span></li>
          <li><a href="/work/alarmik">Alarmik</a> <span>— Alarm clock app for iPhone</span></li>
          <li><a href="/work/dragshare">Dragshare</a> <span>— OS X Drag 'n Drop menu bar app for Dropbox</span></li>
          <li><a href="/work/fitness-tracker">Fitness Tracker</a> <span>— fitness app concept for iPhone</span></li>

        </ul>

      </div>

    </div>


    <div class="row" id="work-items">

      <div class="medium-12 columns text-center">

          <a href="work/flitsmeister" class="project">

            <div class="project-image">

              <span data-picture data-alt="Flitsmeister">
                  <span data-src="assets/projects/flitsmeister-project-small.jpg"></span>
                  <span data-src="assets/projects/flitsmeister-project.jpg" data-media="(min-width: 480px)"></span>
                  <noscript>
                      <img src="assets/projects/flitsmeister-project.jpg" alt="Flitsmeister">
                  </noscript>
              </span>

            </div>
            <span class="project-title">Flitsmeister</span>

          </a>

      </div>


    </div>



    <div class="row">

      <div class="medium-12 columns text-center">

          <a href="work/fitness-tracker" class="project">

            <div class="project-image">

              <span data-picture data-alt="Fitness Tracker">
                  <span data-src="assets/projects/fitness-project-small.jpg"></span>
                  <span data-src="assets/projects/fitness-project.jpg" data-media="(min-width: 480px)"></span>
                  <noscript>
                      <img src="assets/projects/fitness-project.jpg" alt="Fitness Tracker">
                  </noscript>
              </span>

            </div>
            <span class="project-title">Fitness Tracker</span>

          </a>

      </div>


    </div>



    <div class="row">

      <div class="medium-12 columns text-center">

          <a href="work/alarmik" class="project">

            <div class="project-image">

              <span data-picture data-alt="Alarmik">
                  <span data-src="assets/projects/alarmik-project-small.jpg"></span>
                  <span data-src="assets/projects/alarmik-project.jpg" data-media="(min-width: 480px)"></span>
                  <noscript>
                      <img src="assets/projects/alarmik-project.jpg" alt="Alarmik">
                  </noscript>
              </span>

            </div>
            <span class="project-title">Alarmik</span>

          </a>

      </div>


    </div>






    <div class="row">

      <div class="medium-12 columns text-center">

          <a href="work/dragshare" class="project">

            <div class="project-image">

              <span data-picture data-alt="Dragshare for Dropbox">
                  <span data-src="assets/projects/dragshare-project-small.jpg"></span>
                  <span data-src="assets/projects/dragshare-project.jpg" data-media="(min-width: 480px)"></span>
                  <noscript>
                      <img src="assets/projects/dragshare-project.jpg" alt="Dragshare for Dropbox">
                  </noscript>
              </span>

            </div>
            <span class="project-title">Dragshare</span>

          </a>

      </div>


    </div>


  </div>


  

  <div class="row">

    <div class="large-12 columns">

      <h2>Recent stuff on Dribbble</h2>

      <p>Dribbble is where I post shots of my work in progress. Below you can find some of my latest shots, linked to the original page on Dribbble. </p>

      <div class="shots">
        <div class="row">

          <div class="medium-4 columns" id="recent-shots-1">

          </div>

          <div class="medium-4 columns" id="recent-shots-2">

          </div>

          <div class="medium-4 columns" id="recent-shots-3">

          </div>

        </div>

        <div class="row">

          <div class="medium-4 columns" id="recent-shots-4">

          </div>

          <div class="medium-4 columns" id="recent-shots-5">

          </div>

          <div class="medium-4 columns" id="recent-shots-6">

          </div>

        </div>

        <div class="row">

          <div class="medium-4 columns" id="recent-shots-7">

          </div>

          <div class="medium-4 columns" id="recent-shots-8">

          </div>

          <div class="medium-4 columns" id="recent-shots-9">

          </div>

        </div>
        
      </div>



    </div>

  </div>

  <div class="row more-work">

    <div class="large-12 columns">

      <p>Check out more of my work on my <a href="http://dribbble.com/rickwaalders" target="_blank">Dribbble profile</a>.</p>

    </div>

  </div>




{% endblock %}